html {
  width: 100%;
  height: 100%;
  display: table;
}

body {
  width: 100%;
  display: table-cell;
}

html,
body {
  margin: 0;
  padding: 0;
}

#background {
  height: 808px;
  width: 1555px;
  background-color: #003781;
  background-position: center;
}

#image-box-flex {
  top: 85px;
  left: 80px;
}

.image-flex {
  width: 440px;
}

.all-text {
  width: 443px;
  color: #fffbf4;
  font-family: Arial, Helvetica;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 1401px;
  height: 325px;
  position: absolute;
}

.flex.flex-text {
  height: 80px;
}

.main-text-box {
  top: 465px;
  left: 79px;
}

.main-text-flex {
  font-size: 2em;
}

.mid-text-box {
  top: 593px;
  left: 78px;
}

.mid-text-flex {
  font-size: 1.2em;
  line-height: 150%;
}

.mid-high {
  top: 553px;
  left: 78px;
}

.high {
  position: absolute;
}

.bot-text-box {
  top: 720px;
  left: 82px;
}

.bot-text-flex {
  font-size: 1.2em;
  line-height: 150%;
  letter-spacing: 1.2px;
}

.bot-high {
  top: 650px;
  left: 78px;
  letter-spacing: 0.5px;
}

.arrow {
  background-image: url("assets/arrow.png");
  background-repeat: no-repeat;
  padding-left: 40px;
}